<section class="row">
	<div id="search" class="eight columns offset-by-two">
		<h2>Add a movie right now !</h2>
		<p>To do formulaire ajout de film</p>
	</div>
</section>

<section id="list" class="row">
	<div class="eight columns">
		<h3>Your magnificent list :</h3>
		<ul>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
		</ul>
	</div>
	
	<div class="four columns">
		<h3>You've already watched :</h3>
		<ul>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
		</ul>
	</div>
</section>