<section class="row">
	<h3>Your brilliant profile</h3>
	
	
	<ul>
		<li>Number of movies to watch : 
		<%= current_user.items.incomplete.count %></li>
		<li>Number of movies you've seen: 
			<%= current_user.items.completed.count %></li>
		<li>Points of cool obtained : 
			<%= ((current_user.items.count)*0.7).ceil %> </li>
	</ul>
	
	<h5><%= link_to "Edit your profile", edit_user_registration_path, 
								:class => "button radius tiny blue"  %></h5>
	
</section>
