<section class="row about_page">
<h2>Contact</h2>
<p>
	You can find me on <%= link_to 'twitter',
	 				"https://twitter.com/#!/PaulRMcfreely" %> (in french, bummer!)
	or maybe send me a nice little email <%= link_to 'here',
	 				'mailto:awsmlst@gmail.com' %> 		
</p>
</section>
