<section class="row">
	<div class="nine columns">
		<h1>Stop disapointing your friends !</h1>
	</div>
</section>


<section class="row">
	<div class="five columns about_page">
		<h4>Start remembering what they tell you to watch.</h4>
		<p>
			Look, just because I don't be givin' no man a foot massage don't
			 make it right for Marsellus to throw Antwone into a glass
			 motherfuckin' house, fuckin' up the way the nigger talks.
			<br /><br />
			 Motherfucker do that shit to me, he better paralyze my ass,
			 'cause I'll kill the motherfucker, know what I'm sayin'?
		</p>
	</div>
	<div class="seven columns">
		<h3>Insert Photo</h3>
	</div>
</section>

<section class="row">
	<%= link_to "Sign up now", '#', :class => 'button blue radius', :id => "signbtn" %>
</section>

<section class="row">
	<div class="three columns about_page">
		<h4>Step One</h4>
		<p>
			Look, just because I don't be givin' no man a foot massage don't
			 make it right for Marsellus to throw Antwone into a glass
			 motherfuckin' house, fuckin' up the way the nigger talks.
			<br />
			 Motherfucker do that shit to me, he better paralyze my ass,
			 'cause I'll kill the motherfucker, know what I'm sayin'?
		</p>
	</div>
	<div class="three columns about_page">
		<h4>Step Two</h4>
		<p>
			Look, just because I don't be givin' no man a foot massage don't
			 make it right for Marsellus to throw Antwone into a glass
			 motherfuckin' house, fuckin' up the way the nigger talks.
			<br />
			 Motherfucker do that shit to me, he better paralyze my ass,
			 'cause I'll kill the motherfucker, know what I'm sayin'?
		</p>
	</div>
	<div class="three columns about_page">
		<h4>Step Three</h4>
		<p>
			Look, just because I don't be givin' no man a foot massage don't
			 make it right for Marsellus to throw Antwone into a glass
			 motherfuckin' house, fuckin' up the way the nigger talks.
			<br />
			 Motherfucker do that shit to me, he better paralyze my ass,
			 'cause I'll kill the motherfucker, know what I'm sayin'?
		</p>
	</div>
	<div class="three columns about_page">
		<h4>Step Four</h4>
		<p>
			Look, just because I don't be givin' no man a foot massage don't
			 make it right for Marsellus to throw Antwone into a glass
			 motherfuckin' house, fuckin' up the way the nigger talks.
			<br />
			 Motherfucker do that shit to me, he better paralyze my ass,
			 'cause I'll kill the motherfucker, know what I'm sayin'?
		</p>
	</div>
</section>

<section class="row">

</section>


