<section class="row">
	<p>
		This is the homepage for the awesome list app
	</p>
</section>

<section class="row">
	<div class="twelve columns">
		<%= link_to "Sign up now !", '#', :class => 
									"button large radius blue", :id => "signbtn"%>
	</div>
</section>



