<ul id="list_done">
	<% current_user.items.completed.first(3).each do |item| %>
		<div class="item_details">
			<li class="movie">
				<p><%= item.title %></p>
				<% delete = image_tag("delete.png", :alt => "Delete",
												:class => "delete_button")%>

				<%= link_to delete, item, :method => :delete,
										  :remote => true,
										  :class => 'delete_item' %>
			</li>
		</div>
	<% end %>
	<li class="movie">
		<%= link_to "See Your Collection", collection_path %>
	</li>
</ul>