/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'foundation/globals'
 *= require 'foundation/typography'
 *= require 'foundation/grid'
 *= require 'foundation/ui'
 *= require 'foundation/forms'
 *= require 'foundation/mobile'
*/

/*
*1. Header
*2. Sign up button
*3. Search Form
*4. Movie Lists
*5. Footer 
*/


/*   ---  Header styling   */

#logo {
	margin-bottom: 50px;

}

nav{
  margin:0;
  padding:0;
  float: right;
}
nav li{
  display:inline;
}
nav a{
  display:inline-block;
  padding:10px;
}

#pipe {
	color: #373b3f;
}

/* --- Search Form --- */
#search {
	text-align: center; 
	font-family: 'Oswald', sans-serif;
	margin-bottom: 30px;
	
}
#search h2 {
	font-weight: 500;
}

label#movie_button {
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 64px;
	margin: 5px 10px 15px 5px;
	background: url(movie_btn.png) no-repeat;
}

label#book_button {
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 64px;
	margin: 5px 10px 15px 5px;
	background: url(books_btn.png) no-repeat;
}

label#tv_button {
	width: 48px;
	height: 48px;
	padding-left: 48px;
	padding-bottom: 48px;
	margin: 5px 10px 15px 5px;
	background: url(tv_btn.png) no-repeat;
}

label#music_button {
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 64px;
	margin: 5px 10px 15px 5px;
	background: url(music_btn.png) no-repeat;
}

label#game_button {
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 64px;
	margin: 5px 10px 15px 5px;
	background: url(games_btn.png) no-repeat;
}



#search label {
	display: inline;

}

.stylize-common {
    display: inline;
 	width: 48px;
	height: 48px;
	padding-left:26px;
	padding-bottom: 25px;
    margin: 50px 5px 15px 5px;
}

.inset {
	-webkit-box-shadow: inset 0px 1px 6px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 1px 6px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 1px 6px 2px rgba(0, 0, 0, 0.4);
}

.stylize-common:first-of-type {
	background: url(movie_btn.png) no-repeat;
}

.stylize-common:nth-of-type(2) {
	background: url(books_btn.png) no-repeat;
}

.stylize-common:nth-of-type(3) {
	background: url(tv_btn.png) no-repeat;
}

.stylize-common:nth-of-type(4) {
	background: url(music_btn.png) no-repeat;
}

.stylize-common:last-of-type {
	background: url(games_btn.png) no-repeat;
}

#categ_title_add {
	margin-top: 30px;
}

#item_title {
	color: #42474C;
	height: 1.6em;
	font-size: 24px;
	font-weight: bold;
	width: 80%;
	display: inline-block;
	background-color: #E7EAEE;
	margin-top: 5px;
}
#item_title:focus {
	background-color: #F3F4F7;
	outline: none;
}

.wrapper_blue {
	border: 3px solid #01b7DE;
}
.wrapper_yellow {
	border: 3px solid #FCC32A;
}
.wrapper_red {
	border: 3px solid #EC5B60;
}
.wrapper_purple {
	border: 3px solid #835D84;
}
.wrapper_green {
	border: 3px solid #8cc63f;
}

#add_btn {
	height: 35px;
	display: inline-block;
	width: 20%;
	margin-top: 10px;
	font-size: 1.3em;
}

/* --- Movie List --- */


.pointer {
	cursor: pointer;
}


#list_to_do li {
	padding: 5px 0 5px 10px;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.14);
	-moz-box-shadow:    0px 3px 8px rgba(0, 0, 0, 0.14);
	box-shadow:         0px 3px 8px rgba(0, 0, 0, 0.14);
}
#list_to_do li.movie{ background-color: #6C88DA;}
#list_to_do div.movie  { background-color: #8DA2E2;}




#list_to_do li p, #list_to_do li a {
	display: inline;
}
#list_to_do li p {
	font-size: 16px;
	font-weight: bold;
	color: #F3F4F7;
}

.delete_button {
	float: right;
	margin-right: 20px;
	padding-top: 4px;
	color: #2A9ADF;
	height: 13px;
	width: 13px;
	opacity: 0.1;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.watched_button {
	float: right;
	margin-right: 10px;
	height: 18px;
	width: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #1D84C3;
	opacity: 0.4;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.watched_button:hover, .watched_button:focus {
	opacity: 1;
}
.delete_button:hover, .delete_button:focus {
	opacity : 1;
}

#list_done li {
	background-color: #01B7DE;
	padding: 5px 0 5px 10px;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.14);
	-moz-box-shadow:    0px 3px 8px rgba(0, 0, 0, 0.14);
	box-shadow:         0px 3px 8px rgba(0, 0, 0, 0.14);
}
#list_done li.movie { background-color: #ADBDEB;}

#list_done li p, #list_done li a {
	display: inline;
}
#list_done p {
	color: #F3F4F7;
}
#list_done a:hover {
	color: #689ae8;
}

#list h3 {
	font-family: 'Oswald', sans-serif;
}

.image_home {
	border: 5px solid #CFD4DD;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	width: 128px;
}

.details {
	width: 440px;
	margin: auto;
	padding: 5px;
	-webkit-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	overflow: auto;
}
.details img  {
	float: left;
	margin: 10px 10px 5px 10px;

}
.details h5 {
	margin-top: 5px;
}
.details_text { font-size: 14px; margin: 5px 5px 0 5px;}

.details_link a{
	margin: 0 0 5px 5px;
	-webkit-transition: 0.2s ease-in-out;
	   -moz-transition: 0.2s ease-in-out;
		 -o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
}
.details_link a:hover, .details_link a:active {
	color: #5F666D;
}
/* --- Profile styling ---*/ 

.profile_title {
	text-align: center;
}

/* --- error styling ---*/ 

#error_explanation {
	  padding: 8px 8px 8px 14px;
	  margin-bottom: 15px;
	  background-color: #fcf8e3;
	  border: 1px solid #ECD046;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	  color: #c09853;
}

#error_explanation h2 {
	color: #B99D13;
	font-size: 1.4em;
}

/* --- Sign in Form styling ---*/ 
#signbtn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	width: 125px;
}


.inline_form label {
	float: left;
	margin-right: 10px;
}


/* --- footer styling ---*/ 
footer {

  margin-top: 200px;
  padding:0;
}
footer ul {
	float: right;
}

footer li {
	display: inline;
}

footer a {
	display: inline-block;
	padding: 10px;
}