<footer class="row air">
	<section class="twelve columns">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li>|</li>
		<li><%= link_to "About", about_path %></li>
		<li>|</li>
		<li><%= link_to "© McFreely 2013", 'http://mcfreely.github.com' %></li>
	</ul>
	</section>
</footer>